{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<!-- Main -->
<main class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-xs-12 col-md-6">
            <div>
                <h2>When Would You Like to Join Us?</h2>
            </div>
        </div>
        <div class="col-sm-6 col-md-12 align-items-center light-bg">
            <form method="POST">
                <div class="date-picker">
                    {{ form.media }}
                    {% csrf_token %}
                    {{ form | crispy }}
                    <button type="button" class="btn btn-primary" onclick="updateModalMessage()" data-bs-toggle="modal"
                        data-bs-target="#reservationModal">Submit</button>
                    <div id="reservationModal" class="modal fade" tabindex="-1" aria-labelledby="exampleModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title">Please Confirm</h4>
                                </div>
                                <div class="modal-body"></div>
                                <div class="modal-footer">
                                    <button type="submit" class="btn btn-primary" data-bs-toggle="confirmationmodal"
                                        data-bs-target="#confirmationModal">Confirm</button>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </form>
        </div>
    </div>

</main>

{% endblock %}