{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<!-- Main -->
<main class="row">
    <div class="col-sm-6 col-md-12 align-items-center light-bg">
        <div class="container-fluid">
            <div>
                <h2>When Would You Like to Join Us?</h2>
            </div>
        </div>
        <div class="col-sm-6 col-md-12 align-items-center light-bg">
            <form onsubmit="event.preventDefault()">
                <div class="date-picker">
                    {{ form.media }}
                    {% csrf_token %}
                    {{ form | crispy }}
                    <button type="button" class="btn btn-primary" onclick="updateModalMessage()" data-bs-toggle="modal"
                        data-bs-target="#reservationModal">Submit</button>
                </div>
            </form>

            <div id="reservationModal" class="modal fade" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Please Confirm</h4>
                        </div>
                        <div class="modal-body"></div>
                        <div class="modal-footer">
                            <button class="btn btn-secondary" data-dismiss="modal">Delete</button>
                            <button class="btn btn-primary" onclick="confirmationModal"
                                data-bs-toggle="confirmationmodal" data-bs-target="#confirmationModal">Confirm</button>
                        </div>
                    </div>
                </div>
            </div>
            <div id="confirmationModal" class="modal fade" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">We Look Forward to Seeing You Soon</h4>
                        </div class="modal-footer">
                        <button type="submit" name="submit-button" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        const buildModalMessage = () => {
            let reservationGuestCount = document.querySelector('#id_number_of_persons').value
            let reservationDate = document.querySelector('#id_date').value
            let reservationTime = document.querySelector('#id_time').value
            let modalMessage =
                `Pleae Confirm your reservation for ${reservationDate} at ${reservationTime} for ${reservationGuestCount} guests has been confirmed.`
            return modalMessage
        }

        const updateModalMessage = () => {
            let reservationModalBody = document.querySelector('#reservationModal .modal-body')
            console.log(reservationModalBody)
            reservationModalBody.innerText = buildModalMessage()
        }

        $('#reservationForm').on('submit', function () {
            $('#reservationModal').modal('show');
        });

        $('#rconfirmationForm').on('submit', function () {
            $('#confirmaitonModal').modal('show');
        });
    </script>

    </div>
    </div>

    </div>
</main>

{% endblock %}