<!DOCTYPE html>
<html>

<head>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/hover.css/2.1.1/css/hover-min.css" type="text/css" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href={% static 'css/style.css' %}>
    <title>Alice's Restaurant</title>
</head>

<body class="container-fluid row flex-column">

    <!-- Navigation -->

    <nav class="container-fluid navbar navbar-expand-lg navbar-light light-bg">

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03"
            aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 justify-content-around">
                <li class="nav-item">
                    <a class="nav-link " aria-current="page" href="index.html">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="foodmenu.html"> Restaurant Menu</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="barmenu.html"> Drinks Menu</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#footer">Contact / Hours</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="reviews.html">Reviews</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="aboutus.html">About US</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"  href="booking.html">Book a Table</a>
                </li>
            </ul>
        </div>
    </nav>
    <!-- Main -->
    <main class="container-fluid">
        <div class="row">
            <div class="col-sm-6 col-md-6 col-xs-12 image-container align-items-left">
                <div class="">
                    <div>
                        <img src="https://console.cloudinary.com/console/c-2407df5d917cb9784febf8bea3a704/media_library/folders/c26bdd5bc689162fe62cdd7af3f023f66f" style="height:auto; margin-left:-15px">
                    </div>
                    <p class="">The Home of Alice's Restaurant, with its simple and clean design
                        language, has been a landmark in Stockholm since 1955. It was designed by the
                        well-known architect Peter Celsing back in 1949 and was the first architect-designed pier side
                        gas station in Sweden. With its humble and yet sleek design, this building has been
                        the centerpiece of the inner harbor for over 70 years.</p>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-xs-12 image-container align-items-right">
                <div class="col-4">
                    <p class="">
                        After a number of different businesses, such as
                        tourist office, ice cream bar, cafe and pizzeria, the time finally came to transform the
                        iconic structure into a pure restaurant and brasserie with bars and outdoor seating. The future looks as
                        bright as a glass of champagne overlooking the calm harbor</p>
                </div>
                <div>
                    <img src="https://console.cloudinary.com/console/c-2407df5d917cb9784febf8bea3a704/media_library/folders/c26bdd5bc689162fe62cdd7af3f023f66f" style="height:auto; margin-right:-15px">
                </div>
            </div>
        </div>
    </main>

      <!-- Footer -->
      <footer class="container-fluid" id="footer">
        <div id="footer-details" class="row">
            <div class="col-sm-4">
                <h5 class="uppercase general-sub">Location</h5>
                <div class="sqs-block-content">
                    <p id="Location"><strong>Alice's Restaurant</strong><br>
                        Kajplats 15, Strandvagen<br>
                        114 56 Stockholm<br>
                        <a href="https://www.google.com/maps/place/Strandv%C3%A4gen+12,+114+56+Stockholm,+Sweden/@59.3311936,18.0821878,99m/data=!3m1!1e3!4m5!3m4!1s0x465f9d50ba312521:0x2d99d7b4e6ccb006!8m2!3d59.331265!4d18.0825199?shorturl=1"
                            target="_blank" aria-label="">
                             Open in Google Maps</a></p>
                    <h5><strong>Contact</strong><br></h5>
                    <strong>Phone</strong>: +46 (0) 8 666 02 01<br>
                    <strong>Email</strong>: info@alicesrestaurant.com</p>
                </div>
            </div>
            <div class="col-sm-4">
                <h5 class="uppercase general-sub">Short Cuts</h5>
                <p class="inline-block">
                    <a href="booking.hmtl">Book a Table</a>
                    <br>
                    <a href="foodmenu.html">Food Menu</a>
                    <br>
                    <a href="barmenu.html">Drinks Menu</a>
                    <br>
                    <a href="aboutus.html">About Us</a>
                    <br>
                    <a href="signup.html">Sign Up</a>
                    <br>
                    <a href="reviews.html">Reviews</a>
                    <br>
                    <a href="https://visitskargarden.se/" target="_blank" aria-label="">Visit Skargarden</a>
                    <p>
            </div>
            <div class="col-sm-4">
                <h5 class="uppercase general-sub">Social</h5>
                <ul class="list-inline social-links">
                    <li class="list-inline-item">
                        <a target="_blank" href="#">
                            <i class="fa fa-facebook" aria-hidden="true"></i>
                            <span class="sr-only">Facebook</span>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a target="_blank" href="#">
                            <i class="fa fa-twitter" aria-hidden="true"></i>
                            <span class="sr-only">Twitter</span>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a target="_blank" href="#">
                            <i class="fa fa-youtube" aria-hidden="true"></i>
                            <span class="sr-only">YouTube</span>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a target="_blank" href="#">
                            <i class="fa fa-instagram" aria-hidden="true"></i>
                            <span class="sr-only">Instagram</span>
                        </a>
                    </li>
                </ul>
            
            <div class="sqs-block-content">
                <p class=""><h5><strong>Opening Hours</strong></h5>
                <strong>Wednesday</strong>: 15:00 - 21:00<br>
                <strong>Thursday</strong>: 15:00 - 22:00<br>
                <strong>Friday</strong>: 15:00 - 1:00<br>
                <strong>Saturday</strong>: 11:00 - 1:00<br>
                <strong>Sunday</strong>: 11:00 - 21:00<br></p>
            </div>
        </div>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous">
    </script>
</body>

</html>