{% extends 'base.html' %} {% block content %}

<!-- Main -->
<main class="container-fluid text-center">
    <div class="row">
        <div class="">
            <div class="">
                <div class="col-lg-10 col-md-6 col-sm-3">
                    <div class="clearfix">
                        <div class="col-md-6 float-md-end mb-3 ms-md-3">
                            <img src="https://res.cloudinary.com/dkkxjgoqr/image/upload/v1670066744/Alices%20Restaurant/old_house_owvyft.jpg"
                                style="height:auto">
                        </div>
                        <div class="align-items-center">
                            <p class="justify-content-center">
                                The Home of Alice's Restaurant, with its simple and clean design
                                language, has been a landmark in Stockholm since 1955. It was designed by the
                                well-known architect Peter Celsing back in 1949 and was the first architect-designed
                                pier side gas station in Sweden. With its humble and yet sleek design, this building has
                                been the centerpiece of the inner harbor for over 70 years.</p>

                        </div>
                    </div>
                </div>
                <div class="col-lg-10 col-md-6 col-sm-3">
                    <div class="clearfix">
                        <div class="icol-md-6 float-md-end mb-3 ms-md-3">
                            <img src="https://res.cloudinary.com/dkkxjgoqr/image/upload/v1670066744/Alices%20Restaurant/over_harbor_spmewu.jpg"
                                style="height:auto">
                        </div>
                        <div class="align-items-center">
                            <p class="kustify-content-center">
                                After a number of different businesses, such as
                                tourist office, ice cream bar, cafe and pizzeria, the time finally came to transform the
                                iconic structure into a pure restaurant and brasserie with bars and outdoor seating. The
                                future looks as bright as a glass of champagne overlooking the calm harbor</p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
</main>

{% endblock content %}