{% extends 'base.html' %} {% block content %}

<!-- Main -->
<main class="row">
    <div class="row" id="barmenu-body">
        <div class="small-12 medium-12 large-12">
            <div class="">
                <h1 class="theme--default text-align-center ">
                    Alice's Restaurant
                </h1>
            </div>


            <div class="small-12 medium-6 barmenu-div">

                <div class="accordion" id="accordionExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                NON ALCOHOLIC COCKTAILS
                            </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <ul>
                                    <li>
                                        <div>
                                            <h4>
                                                NON
                                                ALCOHOLIC PORN STAR
                                                MARTINI
                                            </h4>
                                            <p>Lyres White Cane
                                                non-alcoholic drink,
                                                passion
                                                fruit, vanilla syrup and
                                                freeze dried
                                                raspberries.
                                                Served with a shot of
                                                lemonade.<i>134kcal</i>
                                            </p>
                                        </div>
                                    </li>
                                    <li>
                                        <div>
                                            <h4>
                                                TANQUERAY
                                                0.0 COLLINS
                                            </h4>
                                            <p>Tanqueray 0.0, lemon
                                                juice,
                                                sugar and soda.
                                                Garnished
                                                with dehydrated
                                                lemon.<i>107kcal</i>
                                            </p>
                                        </div>
                                    </li>
                                    <li>
                                        <div>
                                            <h4>
                                                NO
                                                ALCOHOL ESPRESSO MARTINI
                                            </h4>
                                            <p>Lyres White Cane
                                                non-alcoholic drink,
                                                Lyres
                                                Coffee Originalle,
                                                vanilla
                                                syrup and
                                                coffee.<i>84kcal</i>
                                            </p>
                                        </div>
                                    </li>
                                    <li>
                                        <div>
                                            <h4>
                                                NO
                                                ALCOHOL MOJITO
                                            </h4>
                                            <p>Lyres White Cane
                                                non-alcoholic drink,
                                                sugar
                                                syrup, lime and mint,
                                                topped with soda.
                                                <i>57kcal</i></p>
                                        </div>
                                    </li>
                                    <li>
                                        <div>
                                            <h4>
                                                NO ALCOHOL DAIQUIRI
                                            </h4>
                                            <p>Lyres White Cane
                                                non-alcoholic drink,
                                                lime,
                                                agave and garnished with
                                                a
                                                dehydrated lemon.
                                                <i>110kcal</i></p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="accordion">
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapse" aria-controls="collapse">
                                SPARKLING
                            </button>
                        </h2>
                        <div id="collapse" class="accordion-collapse collapse" aria-labelledby="heading"
                            data-bs-parent="">
                            <div class="accordion-body">
                                <ul>
                                    <li>
                                        <div>
                                            <h4>
                                                FREIXENET
                                                PROSECCO
                                            </h4>
                                            <p>Italy, 11% vol</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div>
                                            <h4>
                                                FREIXENET
                                                MAGNUM
                                            </h4>
                                            <p>Italy, 11% vol</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div>
                                            <h4>
                                                FREIXENET
                                                ROSE PROSECCO
                                            </h4>
                                            <p>Italy, 11% vol</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div>
                                            <h4>
                                                PROSECCO
                                            </h4>
                                            <p>Italy, 11% vol</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div>
                                            <h4>
                                                CHAPEL
                                                DOWN CLASSIC NON-VINTAGE
                                                BRUT
                                            </h4>
                                            <p>England, 12% vol</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div>
                                            <h4>
                                                MIONETTO
                                                ROSE PROSECCO
                                            </h4>
                                            <p>Italy, 11% vol</p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="accordion">
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapse" aria-controls="collapse">
                                ROSE WINE
                            </button>
                        </h2>
                        <div class="accordion-collapse collapse" aria-labelledby="heading" data-bs-parent="">
                            <div class="accordion-body">
                                <ul>
                                    <li>
                                        <div class="">
                                            <h4>
                                                BULLETIN
                                                WHITE ZINFANDEL
                                            </h4>
                                            <p>USA, 9% vol</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="">
                                            <h4>
                                                PINOT
                                                GRIGIO BLUSH
                                            </h4>
                                            <p>Italy, 12% vol</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="">
                                            <h4>
                                                LOVE
                                                BY LEOUBE
                                            </h4>
                                            <p>ORGANIC,
                                                Cotes De Provence,
                                                France,
                                                13% vol</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="">
                                            <h4>
                                                MIRABEAU
                                                FOREVER SUMMER
                                            </h4>
                                            <p>France, 11% vol</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="">
                                            <h4>
                                                LE
                                                BIJOU
                                            </h4>
                                            <p>France, 12.5% vol</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="">
                                            <h4>
                                                MAISON
                                                No. 9
                                            </h4>
                                            <p>France, 12.5% vol</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="">
                                            <h4>
                                                WHISPERING
                                                ANGEL
                                            </h4>
                                            <p>France, 13% vol</p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="accordion">
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapse" aria-controls="collapse">
                                CLASSIC COCKTAILS
                            </button>
                        </h2>
                        <div class="accordion-collapse collapse" aria-labelledby="heading" data-bs-parent="">
                            <div class="accordion-body">
                                <ul>
                                    <li>
                                        <div class="">
                                            <h4>
                                                CHELSEA
                                                ROSE
                                            </h4>
                                            <p>As classic as the flower
                                                it
                                                celebrates, enjoy a
                                                fruity
                                                and floral blend of
                                                Hendricks Gin, St
                                                Germain
                                                elderflower liqueur,
                                                lemon
                                                &amp; apple juice.
                                                Garnished
                                                with raspberry &amp;
                                                cucumber to accentuate
                                                the
                                                notes of the Hendrick's
                                                gin.
                                            </p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="">

                                            <h4>
                                                UNUSUAL
                                                DAISY
                                            </h4>
                                            <p>Capturing the essence of
                                                the
                                                ocean, the coastal
                                                botanicals of Hendricks
                                                Neptunia gin are
                                                combined
                                                with agave; lime
                                                juice
                                                to create a watery twist
                                                on
                                                the traditional gin
                                                daisy
                                                cocktail</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="">
                                            <h4>
                                                VODKA,
                                                STRAWBERRY and;
                                                CRANBERRY
                                            </h4>
                                            <p>A classic
                                                combination
                                                with a twist, citrus
                                                notes
                                                from Haku Japanese craft
                                                vodka are blended with
                                                Cointreau, strawberry,
                                                lemon
                                                ; cranberry juice
                                                for a
                                                vibrant and fruity drink
                                                that tastes a treat.</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="">
                                            <h4>
                                                GIN,
                                                RASPBERRY and;
                                                PEACH
                                            </h4>
                                            <p>Fruity and floral, the
                                                warmth
                                                of Roku gin meets
                                                raspberry,
                                                cranberry, peach &amp;
                                                lime
                                                juice. A refreshing
                                                jewel
                                                pink drink that will
                                                have
                                                you feeling like sitting
                                                out
                                                in a field of
                                                wildflowers on
                                                a warm, sunny day.</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="">

                                            <h4>
                                                PINA
                                                COLADA
                                            </h4>
                                            <p>Koko Kanu rum, Havana
                                                Especial rum, coconut
                                                syrup,
                                                lime, agave, coconut
                                                milk and
                                                pineapple juice.
                                            </p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="">
                                            <h4>
                                                COSMOPOLITAN
                                            </h4>
                                            <p>Discarded grape peel
                                                vodka,
                                                Cointreau,&nbsp; lime
                                                and
                                                cranberry juice.
                                                Garnished
                                                with dehydrated orange.
                                            </p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="">
                                            <h4>
                                                DAIQUIRI
                                            </h4>
                                            <p>Bacardi Carta Blanca rum,
                                                agave and lime and;
                                                juice.
                                                Garnished with
                                                dehydrated
                                                lime. Make it fruity
                                                with
                                                lychee, passionfruit,
                                                strawberry or raspberry.
                                            </p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="">

                                            <h4>
                                                FRENCH
                                                MARTINI
                                            </h4>
                                            <p>Ciroc pineapple
                                                vodka, Chambord
                                                black
                                                raspberry liqueur,
                                                pineapple
                                                juice and raspberry
                                                dust.
                                            </p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="">
                                            <h4>
                                                APEROL
                                                SPRITZ
                                            </h4>
                                            <p>Aperol topped with
                                                Prosecco
                                                and soda.
                                                Garnished
                                                with orange.</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="">
                                            <h4>
                                                PASSIONFRUIT
                                                MARGARITA
                                            </h4>
                                            <p>Olmeca blanco tequila,
                                                agave,
                                                lime juice &amp; passion
                                                fruit. Garnished with
                                                dehydrated lemon. Or
                                                have a
                                                classic margarita
                                                instead.
                                            </p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="">
                                            <h4>
                                                SAILOR'S
                                                SWIRL
                                            </h4>
                                            <p>Sailor Jerrys spiced
                                                rum,
                                                Chambord black raspberry
                                                liqueur, fruit blend
                                                with
                                                passion fruit, ginger
                                                syrup,
                                                lime soda.
                                            </p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="">
                                            <h4>
                                                BLACKCURRANT
                                                COLLINS
                                            </h4>
                                            <p>Tanqueray Royale gin,
                                                lemon,
                                                sugar soda.</p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="accordion">
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapse" aria-controls="collapse">
                                RED WINE
                            </button>
                        </h2>
                        <div class="accordion-collapse collapse" aria-labelledby="heading" data-bs-parent="">
                            <div class="accordion-body">
                                <ul>
                                    <li>
                                        <div class="">
                                            <h4>
                                                ZUCCARDI
                                                Q MALBEC
                                            </h4>
                                            <p>Argentina, 14% vol</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="">
                                            <h4>
                                                VELVET
                                                DEVIL MERLOT
                                            </h4>
                                            <p>Washington, USA, 13.5%
                                                vol
                                            </p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="">
                                            <h4>
                                                BAROSSA
                                                VALLEY ESTATE SHIRAZ
                                            </h4>
                                            <p>Barossa Valley,
                                                Australia,
                                                14% vol</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="">
                                            <h4>
                                                EL
                                                BAR MALBEC
                                            </h4>
                                            <p>Argentina, 13% vol</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="">
                                            <h4>
                                                CHÂTEAU
                                                DES LAURETS
                                            </h4>
                                            <p>Bordeaux, France, 13.5%
                                                vol
                                            </p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="">
                                            <h4>
                                                ALL
                                                BAR ONE HOUSE RED
                                                BLEND
                                            </h4>
                                            <p>12.5% vol</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="">
                                            <h4>
                                                CABERNET
                                                SAUVIGNON
                                            </h4>
                                            <p>12.5% vol</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="">
                                            <h4>
                                                RIOJA
                                                <p>13% vol</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="">
                                            <h4>
                                                MERLOT
                                            </h4>
                                            <p>12.5% vol</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="">
                                            <h4>
                                                OLD
                                                COACH PINOT NOIR
                                            </h4>
                                            <p>New Zealand, 14% vol</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="">
                                            <h4>
                                                KENDALL
                                                JACKSON CABERNET
                                                SAUVIGNON
                                            </h4>
                                            <p>California, USA, 13.5%
                                                vol
                                            </p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="">
                                            <h4>
                                                LUCENTE
                                                SUPER TUSCAN
                                            </h4>
                                            <p>Tuscany, Italy, 14%</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="">
                                            <h4>
                                                PENFOLDS
                                                BIN 2 SHIRAZ MATARO
                                            </h4>
                                            <p>Australia, 14.5% vol</p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="accordion">
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target=""
                                aria-controls="collapse">
                                WHITE WINE
                            </button>
                        </h2>
                        <div class="accordion-collapse collapse" aria-labelledby="heading" data-bs-parent="">
                            <div class="accordion-body">
                                <ul>
                                    <li>
                                        <div class="">
                                            <h4>
                                                SPY
                                                VALLEY EASY TIGER
                                                SAUVIGNON
                                                BLANC
                                            </h4>
                                            <p>New Zealand, 9.5% vol</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="">
                                            <h4>
                                                LA
                                                SAUTERELLE PICPOUL DE
                                                PINET
                                            </h4>
                                            <p>France, 13% vol</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="">
                                            <h4>
                                                JEAN-MARC
                                                BROCARD CHABLIS
                                            </h4>
                                            <p>Burgundy, France, 12.5%
                                                vol
                                            </p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="">
                                            <h4>
                                                ROBERTO
                                                SAROTTO GAVI DI GAVI
                                            </h4>
                                            <p>Italy, 12% vol</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="">
                                            <h4>
                                                J
                                                VINEYARDS PINOT GRIS
                                            </h4>
                                            <p>USA, 13.8% vol</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="">
                                            <h4>
                                                NOT
                                                YOUR GRANDMA'S
                                                RIESLING
                                            </h4>
                                            <p>Eden Valley, Australia,
                                                12%
                                                vol</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="">
                                            <h4>
                                                HOUSE WHITE
                                                BLEND
                                            </h4>
                                            <p>12% vol</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="">
                                            <h4>
                                                CHENIN
                                                BLANC
                                            </h4>
                                            <p>12.5% vol</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="">
                                            <h4>
                                                CHARDONNAY
                                            </h4>
                                            <p>13.5% vol</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="">
                                            <h4>
                                                SAUVIGNON
                                                BLANC
                                            </h4>
                                            <p>12.5% vol</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="">
                                            <h4>
                                                PINOT
                                                GRIGIO
                                            </h4>
                                            <p>12% vol</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="">
                                            <h4>
                                                COASTAL
                                                RESERVE SAUVIGNON BLANC
                                            </h4>
                                            <p>France, 12% vol</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="">
                                            <h4>
                                                ALBARINO
                                                DO RIAS BAIXAS
                                            </h4>
                                            <p>Spain, 12.5% vol</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="">
                                            <h4>
                                                WADDESDON
                                                ROTHSCHILD VOIGNER
                                            </h4>
                                            <p>France, 13.5% vol</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="">
                                            <h4>
                                                RIMAPERE
                                                SAUVIGNON BLANC
                                            </h4>
                                            <p>New Zealand, 12.5% vol
                                            </p>
                                    </li>
                            </div>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="accordion">
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target=""
                                aria-controls="collapse">
                                SIGNATURE COCKTAILS
                            </button>
                        </h2>
                        <div class="accordion-collapse collapse" aria-labelledby="heading" data-bs-parent="">
                            <div class="accordion-body">
                                <ul>
                                    <li>
                                        <div class="">
                                            <h4>
                                                PORN
                                                STAR MARTINI
                                            </h4>
                                            <p>A classic blend of sweet
                                                Absolut Vanilia vodka
                                                with
                                                tart passion fruit for a
                                                refreshingly fruity
                                                cocktail. Served with a
                                                shot
                                                of Prosecco and
                                                garnished
                                                with luxurious gold
                                                sugar to
                                                bring a touch of
                                                opulence to
                                                any occasion.</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="">

                                            <h4>
                                                ESPRESSO
                                                MARTINI
                                            </h4>
                                            <p>With a blend of Ketel One
                                                vodka, Tia Maria, sugar
                                                syrup and coffee, this
                                                is a
                                                smooth, rich and creamy
                                                cocktail that oozes
                                                sophistication.
                                                Garnished
                                                with coffee beans to
                                                awaken
                                                the senses.</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="">
                                            <h4>
                                                FRENCH
                                                75
                                            </h4>
                                            <p>A vibrant mix of citrus
                                                Bombay Premier Cru gin,
                                                sugar, lemon juice &amp;
                                                Prosecco for a light and
                                                refreshing cocktail that
                                                sparkles. Garnished with
                                                a
                                                lemon twist for aromatic
                                                pleasure with every sip.
                                            </p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="">
                                            <h4>
                                                SALTED
                                                CARAMEL OLD
                                                FASHIONED
                                            </h4>
                                            <p>Warm, salty and sweet,
                                                Woodford Reserve
                                                Kentucky
                                                bourbon whiskey meets
                                                salted
                                                caramel syrup &amp;
                                                angostura bitters in
                                                this
                                                modern twist on an old
                                                fashioned. Perfectly
                                                paired
                                                with a side of salted
                                                caramel popcorn.</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="">
                                            <h4>
                                                LONG
                                                ISLAND ICED TEA
                                            </h4>
                                            <p>Ketel One vodka, Bombay
                                                Sapphire gin, Olmeca
                                                tequila, Bacardi Carta
                                                Blanca rum, Cointreau,
                                                lemon
                                                and Pepsi Max</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="">
                                            <h4>
                                                MOJITO
                                            </h4>
                                            <p>Bacardi Carta Blanca rum,
                                                fresh mint, fresh lime,
                                                sugar syrup and soda.
                                                Make
                                                it fruity with lychee,
                                                passion fruit,
                                                strawberry or
                                                raspberry. Swap soda for
                                                Prosecco for +1.5.</p>

                                        </div>
                                    </li>
                                    <li>
                                        <div class="">
                                            <h4>
                                                AMARETTO
                                                SOUR
                                            </h4>
                                            <p>Combining sweet Disaronno
                                                amaretto with lemon
                                                juice,
                                                agave and angostura
                                                bitters,
                                                this cocktail is
                                                perfectly
                                                balanced for a sweet yet
                                                sour delight. Garnished
                                                with
                                                lemon</p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="parbase three-column-container section barmenu-div">

                <div class="">
                    <h5 class="theme--default text-align-center ">
                        Under 18's accompanied by a supervising adult are welcome until 7pm every day including
                        public
                        holidays. This policy is subject to manager discretion.
                    </h5>
                </div>

            </div>
        </div>
    </div>
</main>

{% endblock content %}