{% extends 'base.html' %} {% block content %}

<!-- Main -->
<main class="row">
    <div class="col-sm-6 col-md-12 align-items-center light-bg">
        <div class="Index-page-content  sqs-alternate-block-style-container">
            <div class="sqs-layout sqs-grid-12 columns-12">
                <div class="">
                    <div class="col sqs-col-12 span-12">
                        <div class="sqs-block html-block sqs-block-html">
                            <div class="">

                                <blockquote>
                                    <h1 style="text-align:center">Evening <br> and Weekend
                                        Lunch</h1>
                                </blockquote>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="">
                    <div class="col sqs-col-2 span-2">
                    </div>
                    <div class="col sqs-col-4 span-4">
                        <div class="sqs-block html-block sqs-block-html">
                            <div class="">
                                <h3 style="white-space:pre-wrap;">SNACKS</h3>
                                <p class="" style="white-space:pre-wrap;"><strong>Roasted marcons and almonds</strong>
                                    <em>85 kr</em></p>
                                <p class="" style="white-space:pre-wrap;"><strong>Marinated olives</strong>
                                    <em>75 kr</em></p>
                                <p class="" style="white-space:pre-wrap;"><strong>Arancini, porcini, truffle
                                        mayonnaise</strong>
                                    <em>125 kr</em></p>
                                <p class="" style="white-space:pre-wrap;"><strong>Padrones sesam seeds</strong>
                                    <em>110 kr</em></p>
                                <p class="" style="white-space:pre-wrap;"><strong>Deep-fried artichokes, parmesan, and
                                        almonds</strong>
                                    <em>110 kr</em></p>
                                <p class="" style="white-space:pre-wrap;"><strong>Caramelized montenebro cheese, onion
                                        marmelade, truffle honey, crisp bread</strong>
                                    <em>125 kr</em></p>


                                <h3 style="white-space:pre-wrap;">SHARING IS CARING</h3>
                                <p class="" style="white-space:pre-wrap;"><strong>Deep fried artichokes, parmesan and
                                        almonds</strong>
                                    <em>210 kr</em></p>
                                <p class="" style="white-space:pre-wrap;"><strong>Arancini, porcini, truffle
                                        mayonnaise</strong>
                                    <em> 150 kr</em></p>
                                <p class="" style="white-space:pre-wrap;"><strong>Burrata, tomatoes, basil, balsamico,
                                        croutons</strong>
                                    <em> 215 kr</em></p>
                                <p class="" style="white-space:pre-wrap;"><strong>Bleak roe, deep fried potatoes, sour
                                        cream,pickled onion, dill</strong>
                                    <em>375 kr</em></p>
                                <p class="" style="white-space:pre-wrap;"><strong>Beef tartar, mustard mayo, yellow
                                        beet, capers, roasted onion, parmesan</strong>
                                    <em>810 kr</em></p>

                                <h3 style="white-space:pre-wrap;">SMALLER </h3>
                                <p class="" style="white-space:pre-wrap;"><strong>Burrata, tomatoes, basil, balsamico,
                                        croutons </strong>
                                    <em>175 kr</em></p>
                                <p class="" style="white-space:pre-wrap;"><strong>Bleak roe, deep fried potatoes, sour
                                        cream, pickled onion, dill</strong>
                                    <em>245 kr</em></p>
                                <p class="" style="white-space:pre-wrap;"><strong>Salmon cheviche, coriander cream,trout
                                        roe, mango, chili</strong>
                                    <em>185 kr</em></p>
                                <p class="" style="white-space:pre-wrap;"><strong>Beef tartar, mustard mayo, yellow
                                        beet, capers, roasted onion, parmesan<br></strong>
                                    <em>175 kr</em> </p>
                                <p class="" style="white-space:pre-wrap;"><strong>Red prawns, chili/garlic butter,
                                        roasted garlic mayo, grilled bread</strong>
                                    <em>195 kr</em></p>
                                <p class="" style="white-space:pre-wrap;"><strong>Beetroot tartar, mustard mayonnaise,
                                        capers,pickled mustard seeds, crispy onion</strong>
                                    <em>165 kr</em></p>

                                <h3 style="white-space:pre-wrap;">COLD CUTS AND CHEESE</h3>
                                <p class="" style="white-space:pre-wrap;"><strong>Charcuteries, pickles, olives,
                                        artichoke, parmesan</strong>
                                    <em>165/265 kr</em></p>
                                <p class="" style="white-space:pre-wrap;"><strong>Variation of swedish cheese, fig
                                        marmelade, poached pear, crispbread</strong>
                                    <em>165/265 kr</em></p>
                            </div>
                        </div>
                    </div>
                    <div class="col sqs-col-4 span-4">

                        <div class="sqs-block-content">

                            <h3 style="white-space:pre-wrap;">BIGGER</h3>
                            <p class="" style="white-space:pre-wrap;"><strong>Leg of lamb, creamy polenta,
                                    tomato,artichoke, gremolata</strong>
                                <em>295 kr</em></p>
                            <p class="" style="white-space:pre-wrap;"><strong>Deer picanha, potato terrine, creamed
                                    cabbage, onion, red wine sauce</strong>
                                <em>325 kr</em></p>
                            <p class="" style="white-space:pre-wrap;"><strong>Iberico cutlet,braised red cabbage,
                                    apple puree, red wine sauce, crispy potatoes, herb butter</strong>
                                <em>315 kr</em></p>
                            <p class="" style="white-space:pre-wrap;"><strong>Strip steak, confit potato, mushroom,
                                    haricot verts, bacon, tarragon emulsion</strong>
                                <em>395 kr</em></p>
                            <p class="" style="white-space:pre-wrap;"><strong>Cabbage rolls, jerusalem artichoke
                                    puree, mushroom broth, mushroom, black currant</strong>
                                <em>245 kr</em></p>
                            <p class="" style="white-space:pre-wrap;"><strong>Whole grilled sea bass, Vietnamese
                                    dressing,pak choi, pickled carrot,ginger mayonnaise</strong>
                                <em>375 kr</em></p>
                            <p class="" style="white-space:pre-wrap;"><strong>Char, cauliflower, blackend cucumber,
                                    pickled green tomato, kohlrabi, mussel veloute,crispy wheatberry</strong>
                                <em>325 kr</em></p>

                            <h3 style="white-space:pre-wrap;">CLASSICS</h3>
                            <p class="" style="white-space:pre-wrap;"><strong>Poke bowl Salmon sashimi, rice, baked
                                    egg, cucumber, soy dressing,cilantro</strong>
                                <em>255 kr</em></p>
                            <p class="" style="white-space:pre-wrap;"><strong>Shrimp salad, deep fried egg, herb
                                    mayo</strong>
                                <em>245 kr</em></p>
                            <p class="" style="white-space:pre-wrap;"><strong>Beef tartar, mustard mayo, yellow
                                    beet, capers, roasted onion, parmesan</strong>
                                <em>235 kr</em></p>

                            <h3 style="white-space:pre-wrap;">SOMETHING SPECIAL </h3>
                            <p class="" style="white-space:pre-wrap;"><strong>French sturegeon Caviar 30g</strong>
                                / 795 kr<strong> 100g</strong>/ 2295 kr</p>
                            <p class="" style="white-space:pre-wrap;"><strong>2 glasses of Champagne and 30 g
                                    kaviar</strong>
                                1095 kr</p>
                            <p class="" style="white-space:pre-wrap;"><strong>1 bottle of Dom Perignon and 100 g
                                    kaviar</strong>
                                5495 kr</p>
                            <p class="" style="white-space:pre-wrap;">Served with hard bread, sour cream, chives and
                                sauted onions)</p>

                            <h3 style="white-space:pre-wrap;">DESSERT/SWEETS </h3>
                            <p class="" style="white-space:pre-wrap;"><strong>White chocolate brownie, vanilla ice
                                    cream, caramel sauce, miso, hazelnut</strong>
                                <em>135 kr</em></p>
                            <p class="" style="white-space:pre-wrap;"><strong>Creme Brulre</strong>
                                <em>115 kr</em></p>
                            <p class="" style="white-space:pre-wrap;"><strong>Mascarpone cream,
                                    biscotti,poachedcherries</strong>
                                <em>125 kr</em></p>
                            <p class="" style="white-space:pre-wrap;"><strong>Chocolate foam, blackberries, coockie
                                    pieces, almond</strong>
                                <em>135 kr</em></p>
                            <p class="" style="white-space:pre-wrap;"><strong>Apple pie, vanilla custard</strong>
                                <em>125 kr</em></p>
                            <p class="" style="white-space:pre-wrap;"><strong>Ice cream or Sorbet</strong>
                                <em>65 kr</em></p>
                            <p class="" style="white-space:pre-wrap;"><strong>Coffee treats</strong>
                                <em>45 kr</em></p>
                        </div>


                    </div>
                </div>
                <div class="">
                    <div class="col sqs-col-12 span-12">

                        <div class="">
                            <h3 style="text-align:center;">
                                We are a cash free restaurant,
                                Ask the crew about allergies</h3>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

{% endblock content %}