{% extends 'base.html' %} {% block content %}

<main class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-xs-12 col-md-6">
            <div class="">
                <div>
                    <h1 class="main" tabindex="1">Alice's Restaurant</h1>
                </div>

                <div class="">
                    <div class="img-fluid">
                        <video autoplay loop muted>
                            <source
                                src="https://res.cloudinary.com/dkkxjgoqr/video/upload/v1670066748/Alices%20Restaurant/alice_intro_loop_1_rjtdsh.mp4"
                                type="video/mp4">
                        </video>
                    </div>
                </div>
                <div>
                    <div class="">
                        <h2>You can get anything you want
                            at Alice's Restaurant
                        </h2>
                    </div>
                </div>

            </div>
        </div>
    </div>
</main>
{% endblock content %}