{% extends 'base.html' %}

{% block content %}
<!-- Main -->
<main class="row">
    <div class="col-sm-6 col-md-12 align-items-center light-bg">
        <div class="container-fluid">
            <div>
                <h2>When Would You Like to Join Us?</h2>
            </div>
        </div>

        <form action="" method="POST">
            {% csrf_token %}
            {{form}}

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</main>

{% endblock %}