{% extends 'base.html' %}

{% block content %}

<main class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-xs-12 col-md-6">
      <h2>Reservation Details</h2>
      <p><strong>Reservation Name:</strong> {{ reservation.name }}</p>
      <p><strong>Email:</strong> {{ reservation.email }}</p>
      <p><strong>Reservation Date:</strong> {{ reservation.date }}</p>
      <p><strong>Reservation Time:</strong> {{ reservation.get_booking_time_display }}</p>
      <br>
      <form action="{% url 'delete_reservation' %}" method="post">
        {% csrf_token %}
        <div class="d-flex justify-content-center flex-wrap">
          <a href="{% url 'delete_reservation' %}" class="btn btn-outline-primary align-items-center">Delete
            Reservation</a>

          <a href="{% url 'reservation:reserve_table' %}" class="btn btn-outline-primary align-items-center">Change
            Reservation</a>
        </div>
      </form>
    </div>
  </div>
</main>
{% endblock %}