{% extends 'base.html' %}


{% block content %}

<main class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-xs-12 col-md-6">
            <h2>Search For Your Reservation</h2>
            <div class="d-flex justify-content-center flex-wrap">
                <form id="search-form" action="{% url 'search_reservation' %}" method="post">
                    {% csrf_token %}
                    <label for="search_name">Reservation Name:</label>
                    <br>
                    <input type="text" id="search_name" name="search_name" value="" checked>
                    <br>
                    <label for="search_id">Reservation ID:</label>
                    <br>
                    <input type="text" id="search_id" name="search_id" value="">
                    <br>
                    <button type="submit" class="btn btn-primary">Search</button>
                </form>
            </div>
        </div>
    </div>
</main>

{% endblock %}