{% extends 'base.html' %}

{% block content %}
<h1>Thank you for booking with us, here are your details:</h1>
<p><strong>Reservation Name:</strong> {{ reservation.name }}</p>
<p><strong>Reservation ID:</strong> {{ reservation.id }}</p>
<p><strong>Reservation Date:</strong> {{ reservation.date }}</p>
<p><strong>Reservation Time:</strong> {{ reservation.get_booking_time_display }}</p>
<br>
<form action="{% url 'delete_reservation' %}" method="post">
    {% csrf_token %}
    <a href="{% url 'delete_reservation' %}" class="btn btn-outline-primary align-items-center">Delete Reservation</a>

    <a href="{% url 'update_reservation' %}" class="btn btn-outline-primary align-items-center">Change Reservation</a>
</form>
{% endblock %}